# package directories
node_modules
jspm_packages

# Serverless directories
.serverless


# Webpack directories
.webpack

# IntelliJ
.idea

# Compiled JS and compiled
*.js
*.js.map

# Test Requests. Maybe include this in the future.
Requests/Test
